
/*CSS DEL MENU*/
/* Menú Dinámico */
header{
    background: #4357ad;
    position: fixed;
    width: 98%;
    border-radius: 20px;
    top: 10px;
    border: 2px solid #ff7b00;
}

.menu{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.img-principal{
    text-decoration: none;
    color: #fff;
    font-size: 1em;
}

.menu .logo {
    display: inline-block; 
    margin-right: 1em;
}

.menu .logo img {
    vertical-align: top;
    height: 30px;
}

.menu .btn-menu{
    display: none;
    color: #fff;
    text-decoration: none;
    font-size: 1em;
}

.menu .logo:hover {
    background: #4357ad;
}

.menu .enlaces {
    display: inline-block;
    text-align: right;
}

.menu .enlaces a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 1em;
    text-align:center;
    transition: transform 0.3s ease,background-color 0.3s ease;
}

.menu .enlaces i{
    margin-right: 5px;
}

.menu .enlaces a:hover {
    background: #ff7b00;
    color:#fff;
    border-radius: 5px;
    transform: scale(1.0);
}

.menu{
    z-index: 2;
}

/* Efectos del menu*/
.headroom {
    transition: transform .3s ease;
    border-radius: 10px;
}

.headroom--pinned {
    transform: translateY(0%);
    z-index: 1000;
}

.headroom--unpinned {
    transform: translateY(-125%);
    z-index: 1000;
}

/* Mediaqueries */
@media screen and (max-width: 700px) {
    header .menu {
        flex-direction:column;
    }
    
    header .menu .logo {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding: 1em;
    }

    .menu .logo img {
        vertical-align: top;
        height: 22px;
    }

    header .menu .logo .btn-menu{
        display: inline-block;
    }

    header .menu .enlaces {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

   
}

@media screen and (max-width: 480px) {
    header .menu {
        flex-direction:column;
    }
    
    header .menu .logo {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding: 1em;
    }

    header .menu .logo .btn-menu{
        display: inline-block;
    }

    header .menu .enlaces {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

   
}


.cerradasesion{
    background-image: linear-gradient(45deg, #77ef31, #1eff00, #b19f00);
    border-color: #08b37d;
    border-radius: 70px;
}

.cerrarVision{
    background-color: #4357ad; /* Mismo color que el menú desplegable */
    color: #fff; /* Mismo color que el texto del menú desplegable */
    border: none;
    padding: 10px 15px;
    cursor: pointer; 
    font-size: 20px;
}

section {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px orange;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

article p {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: justify;
    justify-content: center;
}



h1{
    text-align: center;
}

.img1-proyecto{
    margin-left: 7%;
}

.img2-proyecto, .img3-proyecto{
    width: 90%;
    margin-left: 5%;
}

.img6-proyecto{
    margin-left: 20%;
}

img{
    border-radius: 10px;
}

footer {
  
    
    padding: 10px;
    background-image: linear-gradient(45deg, #dc6b24, #32ccbd, #004680);
    color: #000000;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
  
    justify-content: center;
    
    text-align: center;
  
    bottom: 0;
    margin: 0;
    margin-top: 20px;
    padding: 0;
    width: 100%;
   
}